<div class="language-config-item">
    <input type="text" class="language-name" placeholder="Nom de la langue">
    <input type="text" class="language-key" placeholder="Clé de chiffrement" value="{{randomKey}}">
    <button type="button" class="remove-language-config"><i class="fas fa-trash"></i></button>
    <div class="font-picker-container">
        <label for="font-new">Police:</label>
        <button type="button" class="file-picker font-picker" data-type="data" data-target="font-new" title="Parcourir les fichiers"><i class="fas fa-file-import fa-fw"></i></button>
        <input type="text" class="language-font" id="font-new" placeholder="Chemin vers le fichier de police" data-dontsubmit>
        <span class="font-preview">Aucune police sélectionnée</span>
    </div>
</div> 