<div class="proficiency-level-config-item">
    <input type="hidden" name="levels[{{id}}][id]" value="{{id}}">
    <input type="text" name="levels[{{id}}][name]" placeholder="Nom du niveau" required>
    <div class="level-value">
        <input type="number" name="levels[{{id}}][value]" placeholder="0.0" min="0" max="1" step="0.05" value="{{value}}" required>
        <span class="percentage">{{percentage}}%</span>
    </div>
    <input type="color" name="levels[{{id}}][color]" value="{{color}}" title="Couleur du niveau">
    <button type="button" class="remove-level"><i class="fas fa-trash"></i></button>
</div> 