<div class="langage-editor-form">
    <style>
        .langage-editor-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 800px;
            max-width: 100%;
            height: 400px;
            max-height: 100%;
        }
        .langage-editor-form label {
            font-weight: bold;
        }
        .text-zone-language-editor {
            height: 100%;
        }
    </style>
    <label>{{localize "languages-rp.ui.enterText"}}</label>
    <textarea name="texte" class="text-zone-language-editor">{{selectedText}}</textarea>
</div> 